* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: rgb(88, 167, 101);
$mainWhite: rgb(149, 103, 255);
$mainGrey: rgb(204, 204, 204);
$mainTransition: all 0.3s linear;

body {
  font-family: 'Open San', sans-serif;
  background: $mainWhite;
  color: $mainBlack;
}
